*{
    margin: 0;
}
body{
    background-color: rgb(3, 53, 3);
}
.box{
    display: flex;
    flex-wrap: wrap;
}

.element{
    width: 200px;
    height: 200px;
    background-color: #4f4;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element1{
    width: 200px;
    height: 200px;
    background-color: rgb(203, 235, 203);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}